---
layout: layout.njk
title: Posts
---
<h1>Posts</h1>
<ul class="post-list">
  {% for post in collections.posts %}
    <li>
      <time datetime="{{ post.date | htmlDate }}">{{ post.date | readableDate }}</time>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ul>
